#first{
    align-items: center;
    padding: 0px 750px;
    font size: 64px;
    
}
.first{
    padding: 0px 750px 
    
}
#second{
    padding: 0px 750px;
    
}
body{
    background-color: black;
}